body {
    font-family: Arial, sans-serif;
    background-color: #7C93C3;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between, center;
    margin: 50px;

}

.playlist {
    width: 100%;
    background-color: #55679C; 
    padding: 20px;
    border-radius: 8px; 
    border: 5px solid white;
    margin-left: auto;
    
}

.add-song {
    width: 80%;
    background-color: #55679C; 
    padding: 20px; 
    border-radius: 8px; 
    border: 5px solid #ccc;
    margin:  30px;
   
}

h2 {
    text-align: center;
}

.search-bar,
#song-title,
#artist-name {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    border: 3px solid ;
    color:black;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.song-title {
    font-weight: bold;
    margin: 0; 
}

.artist-name {
    display: block; 
    font-size: 0.9em; 
    color: black; 
    margin: 0; 
}

button {
    background-color: #6439FF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #6439FF;
}

#add-button {
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 8px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
}

#add-button:hover {
    background-color: darkblue; 
}

.add-song {
    display: flex;
    flex-direction: column; 
}

#add-button {
    align-self: center; 
    margin-top: 15px; 
}